:root {
  --primary-color: #f9f7fe;
  --secondary-color: #ffca2c;
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.homepage header {
  background-color: var(--primary-color);
  text-align: center;
  padding: 160px;
  line-height: 1.5px;
  font-family: var(--heading-font-family);
  color: black;
}
.homepage h1 {
  font-size: 96px;
  font-weight: bold;
}
.homepage h2 {
  font-size: 36px;
  font-family: var(--default-font-family);
  font-weight: bold;
}
.homepage h3 {
  font-size: 24px;
  margin-top: 20px;
}
p {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.btn-warning {
  padding: 15px 30px;
  border-radius: 4px;
  line-height: 27px;
  font-size: 18px;
  color: white;
  background: var(--branding-color);
}
