:root {
  --primary-color: #ffeee7;
  --secondary-color: #e3670c;
  --branding-color: #cc3d0b;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.logo {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin: 10px 10px 10px 80px;
  border: 1px solid var(--secondary-color);
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--branding-color);
}
.nav-link {
  font-family: var(--default-font-family);
  font-weight: bold;
  opacity: 60%;
  color: black;
}
.bg-body-tertiary {
  background-color: white !important;
}
.homepage header {
  background-color: var(--primary-color);
  text-align: center;
  padding: 160px;
  line-height: 1.5px;
  font-family: var(--heading-font-family);
  color: black;
}
.homepage h1 {
  font-size: 96px;
  font-weight: bold;
}
.homepage header h2 {
  font-size: 36px;
  font-family: var(--default-font-family);
  font-weight: bold;
}
.homepage h3 {
  font-size: 24px;
  margin-top: 20px;
}
.description-p {
  line-height: 1.5;
  font-size: 19px;
  font-family: var(--default-font-family);
  font-weight: normal;
  opacity: 80%;
}

.btn-branding {
  padding: 15px 30px;
  border-radius: 4px;
  line-height: 27px;
  font-size: 18px;
  color: white;
  background: var(--branding-color);
  text-decoration: none;
  font-family: var(--default-font-family);
}
.btn-branding:hover {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.homepage main img {
  max-width: 560px;
  max-height: 560px;
  display: block;
  margin: 10px auto;
}
.homepage main h2 {
  text-align: left;
  font-size: 58px;
  font-family: var(--heading-font-family);
  font-weight: bold;
  line-height: 85px;
  margin-bottom: 20px;
}
.homepage main p {
  text-align: left;
  font-size: 16px;
  font-family: var(--default-font-family);
  line-height: 30px;
}
.projects {
  padding: 60px 60px;
}
.btn-project {
  padding: 15px 30px;
  border-radius: 4px;
  line-height: 27px;
  font-size: 18px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  display: block;
  margin: 0 auto;
  max-width: max-content;
}
.btn-project:hover {
  color: white;
  background: var(--branding-color);
}

.content-page header {
  text-align: center;
  color: black;
}

.content-page h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
  line-height: 80px;
  text-align: left;
}
.content-page header h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: bold;
  line-height: 1.5px;
  text-align: left;
}
.content-page header p {
  font-size: 16px;
  font-family: var(--default-font-family);

  line-height: 30px;
  text-align: left;
}
.content-page .btn-project {
  display: block;
  margin: 0 35px;
  max-width: 250px;
}
.content-page .container {
  padding: 100px 20px;
}
.content-page .content {
  margin: 40px;
}
.personal-img img {
  max-height: 450px;
  margin: 7px auto;
  border-radius: 30%;
  border: 1px solid var(--secondary-color);
}

h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}
.content p {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  font-family: var(--default-font-family);
}
.content a {
  /* color: var(--branding-color); */
  color: var(--secondary-color);
  font-size: 18px;
}
.content a:hover {
  color: var(--secondary-color);
  color: var(--branding-color);
}
footer {
  margin: 60px 0;
}
h4 {
  font-size: 48px;
}
footer .contact-box {
  background-color: var(--primary-color);
  padding: 40px 120px;
  border-radius: 10px;
  font-family: var(--default-font-family);
}
footer .contact-box p {
  margin: 0;
  font-size: 16px;
}
footer .email-link {
  text-decoration: none;
  color: black;
  opacity: 65%;
  font-size: 24px;
  display: block;
  text-align: center;
  font-family: var(--default-font-family);
  margin-bottom: 50px;
}
footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--primary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}
.my-projects a {
  text-decoration: none;
  color: black;
}
.my-projects a:hover {
  color: var(--branding-color);
}

.content-page .my-projects img {
  max-height: 500px;
  display: block;
  margin: 0px auto;
  transition: all 80ms ease-in-out;
}
.content-page .my-projects img:hover {
  filter: contrast(115%) drop-shadow(3px 3px var(--secondary-color))
    drop-shadow(-3px -3px var(--branding-color));
  transform: scale(1.03);
}
.woman-coding img {
  max-height: 450px;
  margin: 7px auto;
  border-radius: 40%;
  border: 1px solid var(--secondary-color);
}

@media (max-width: 1200px) {
  .homepage main h2,
  .homepage main p {
    text-align: center;
  }

  .content-page header h1,
  .content-page header h2,
  .content-page header p {
    /* text-align: center; */
    line-height: normal;
  }
  .content-page header h1 {
    font-size: 40px;
  }

  .homepage main img {
    max-width: 460px;
    max-height: 460px;
  }
  .homepage main h2 {
    font-size: 40px;
  }
  .homepage main p {
    font-size: 14px;
    line-height: 25px;
  }
}
@media (max-width: 900px) {
  .homepage main p {
    /* text-align: center; */
    font-size: 13px;
  }
  .homepage main h2 {
    font-size: 40px;
    text-align: center;
  }
  .homepage header h1 {
    font-size: 50px;
  }
  .homepage header h2 {
    font-size: 30px;
  }
  .homepage header {
    padding: 30px;
  }
  .description-p {
    font-size: 16px;
  }
  .content-page h1 {
    font-size: 44px;
    line-height: 40px;
  }
  .content-page header h2 {
    font-size: 18px;
    text-align: center;
  }
  .content-page header p {
    font-size: 14px;
  }
  .content-page {
    max-width: 630px;
    margin: 0 auto;
  }
}
@media (max-width: 1010px) {
  main .projects {
    padding: 0;
  }
  .content-page .container {
    padding: 20px 5px;
  }
  .content-page header h1,
  .content-page header h2,
  .content-page header p {
    text-align: center;
  }

  .content-page .btn-project {
    margin: 50px auto;
  }

  footer .contact-box h4 {
    font-size: 30px;
  }
  footer .contact-box {
    padding: 30px;
  }
}
